body {
}

.submitButton{
    width:100px;
    text-align:center;
}

tr td:first-child{
    text-align:right;
    width:75px;
}

#New_IMG_Avatar{
    width:150px;
}

.RightPNL{
    text-align:center;
}

#table{
    background-color:lightgray;
    border:2px solid black;
}